@use "../../styles/_partials/global.scss" as *;

.about {
  &__wrap {
    margin-top: 12rem;
    min-height: 100vh;
    @include flex-column;
    align-items: center;
    padding: 1.25rem;
    background-color: white;

    @include tablet {
      margin-top: 8rem;
    }

    @include desktop {
      padding: 20px 10rem;
    }

    @include desktopL {
      margin-top: 4rem;
      padding: 20px 15rem;
    }
  }

  &__logo {
    margin-top: 1rem;
    max-height: 10rem;
    &:hover {
      animation: buzz 0.3s ease-in-out;
    }

    @include desktopL {
      margin-top: 2.5rem;
    }
  }

  &__subtitle {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    color: #555;
    text-align: center;
    padding: 1rem 1.5rem;

    @include tablet {
      padding: 0rem 5rem;
    }
    @include desktop {
      padding: 1rem 0rem;
    }
    @include desktopL {
      padding: 0rem 15rem;
    }
    &--slogan {
      font-style: italic;
      font-size: 1rem;
      color: #777;
    }
  }

  &__records {
    max-width: 90%;
    @include desktop {
      max-width: 100%;
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 20px;

    @include tablet {
      flex-direction: row;
      padding: 0rem 5rem;
    }

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__content {
    flex: 1;
    min-width: 45%;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
    }

    font-size: 1rem;
    line-height: 1.8;
    color: #444;

    &--top {
      font-weight: 500;
    }
  }

  &__btn {
    @include purple-button;
    margin: 2rem 0;
    &:hover {
      animation: pop 2s ease-in-out;
    }
  }
}
