@use "../../styles/_partials/global.scss" as *;

.bookings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  text-align: center;
  background-color: #181818;
  color: #ffffff;
  margin-top: 6rem;

  @include tablet {
    margin-top: 8rem;
  }

  @include desktop {
    padding: 20px 10rem;
  }

  @include desktopL {
    margin-top: 7rem;
    padding: 20px 15rem;
  }

  &__title {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #cccccc;
  }

  &__btn {
    @include button;
    animation: pop 3s ease-in;
    margin: 1rem 0 2rem 0rem;
    max-width: 50%;
  }
  &__slots {
    @include flex-column;
    gap: 0.5rem;
  }
}
