@use "../../styles/_partials/global.scss" as *;

.bookings {
  @include flex-center;
  @include flex-column;
  height: 90vh;
  padding: 1rem;
  margin-top: 12rem;

  @include tablet {
    margin-top: 10rem;
    padding: 2rem;
  }

  @include desktop {
    margin-top: 8rem;
    padding: 3rem 5rem;
  }

  @include desktopL {
    padding: 3rem 5rem;
  }

  &__calendar {
    margin-top: 2rem;
    width: 100%;
    max-width: 1200px;
    flex-grow: 1;

    iframe {
      width: 100%;
      height: 70vh;
      border: none;
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      @include desktopL {
        height: 80vh;
      }
    }
  }
}
