@use "../../styles/_partials/global.scss" as *;

.classes {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  background-color: #f9f9f9;

  &__content {
    max-width: 800px;
    text-align: center;
    color: #333;

    .classes__title {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .classes__description {
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 2rem;
    }

    .classes__list {
      list-style: none;
      padding: 0;
      margin-bottom: 2rem;

      .classes__item {
        font-size: 1.1rem;
        margin-bottom: 1rem;
        text-align: left;

        strong {
          color: #535bf2;
        }
      }
    }

    .classes__cta-text {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      color: #555;
    }

    .classes__btn {
      @include purple-button;
    }
  }
}
