@use "./variables" as *;

@mixin tablet-and-desktop {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grayscale-hover($transition-time: 0.5s) {
  filter: grayscale(100%);
  transition: filter $transition-time ease-in;
  &:hover {
    filter: grayscale(0%);
  }
}

@mixin MobileHeader {
  font-size: $Size-mobileHeader;
  line-height: $Height-mobileHeader;
  font-weight: $Weight-mobileHeader;
}

@mixin DesktabHeader {
  font-size: $Size-DeskTabHeader;
  line-height: $Height-DeskTabHeader;
  font-weight: $Weight-DeskTabHeader;
}
@mixin DesktabHeaderB {
  font-size: $font-size-header;
  line-height: $Height-DeskTabHeader;
  font-weight: $Weight-DeskTabHeader;
}

@mixin ButtonsnLabels {
  font-size: $Size-labels;
  line-height: $Height-labels;
  font-weight: $Weight-labels;
  color: $secundary-text-color;
  text-transform: uppercase;
}
