$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color: #ffffff;
$secundary-color: #323232;
$hover-color: #ffffff;
$secundary-text-color: #afafaf;
$divider-color: #e1e1e1;
$bg-color-alternative: #fafafa;
$bg-color: #ffffff;

$font-size-subheader: 1.5rem;
$font-size-header: 2rem;
$font-size-body: 0.875rem;
$font-size-btn: 0.75rem;

$Size-mobileHeader: 1.5rem;
$Height-mobileHeader: 2rem;
$Weight-mobileHeader: 700;

$Size-DeskTabHeader: 3rem;
$Height-DeskTabHeader: 4.25rem;
$Weight-DeskTabHeader: 700;

$CTAcolor: #323232;
$CTAtextColor: #ffffff;
$CTAheight: 2.5rem;
$CTAmax-width: 150px;
$CTApadding: 0 2rem;
$CTAwidht: 100%;
$CTAradius: 0.25rem;
$CTAfont-size: 0.875rem;
$CTAhoverColor: #000000;

$Size-labels: 0.75rem;
$Height-labels: 1.25rem;
$Weight-labels: 700;
$Color-labels: #afafaf;
