.footer {
  display: flex;
  max-width: 100%;
  align-items: center;

  &__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  &__info {
    &-wrap {
      display: none;
    }
  }
}
