@use "../../styles/_partials/global.scss" as *;

.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 1000;

  @include desktopL {
    height: 12vh;
    width: 100%;
  }

  @include mobile {
    &:hover {
      animation: buzz 0.3s ease-in-out;
    }
  }

  &__logo {
    object-fit: contain;

    &:hover {
      animation: buzz 0.3s ease-in-out;
    }

    @include mobile {
      height: 15vh;
      width: auto;
    }

    @include tablet {
      height: 20vh;
      width: auto;
    }

    @include desktop {
      height: 12vh;
      width: auto;
      margin: 0.5rem 0 0 1rem;
    }

    @include desktopL {
      height: 8vh;
    }
  }

  &__mobile-wrap,
  &__tablet-wrap {
    @include flex-column;
    @include flex-center;
    width: 100%;
  }

  &__desktop-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.5rem 2rem;
  }

  &__menu {
    background-color: black;
    padding: 2rem 1rem;

    .bm-cross {
      background: white;
      width: 5rem;
      height: 5rem;
    }

    .bm-menu {
      padding: 0rem 2rem;
    }

    .header__nav-link {
      display: block;
      text-decoration: none;
      color: white;
      font-size: 1.2rem;

      &:hover {
        animation: pop 0.3s ease-in-out;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    &-list {
      display: flex;
      list-style: none;
      margin-right: 1.5rem;
    }

    &-item {
      margin-left: 20px;
    }

    &-link {
      @include button;
      text-decoration: none;
      color: white;
      padding: 0.5rem 1rem;
    }
  }

  &__hamburger {
    display: none;

    @include mobile {
      display: block;
    }

    @include tablet {
      display: block;
      margin-top: 5rem;
    }

    @include desktop {
      display: none;
    }

    position: absolute;
    top: 1rem;
    right: 1.5rem;
    z-index: 1002;
    width: 30px;
    height: 25px;
    cursor: pointer;

    span {
      display: block;
      width: 100%;
      height: 4px;
      background: white;
      margin: 5px 0;
      border-radius: 2px;
    }
  }
}
