@use "../../styles/_partials/global.scss" as *;

.comments {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border: 1px solid #e0e0e0;
  width: 100%;
  height: auto;

  &__title {
    font-size: 1.5rem;
    margin: 1.5rem;
    color: #333;
    text-align: center;
  }

  &__form {
    display: flex;
    align-items: flex-start;
    gap: 0.5rem;
    flex-wrap: wrap;
    padding: 2rem 0.5rem;

    @include tablet {
      padding: 2rem 5rem;
    }
    @include desktop {
      margin: 1.5rem 20rem;
    }
  }

  &__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;
  }

  &__box {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
  }

  &__label {
    font-size: 0.9rem;
    color: #555;
    font-weight: bold;
  }

  &__input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;

    &:focus {
      border-color: #535bf2;
      box-shadow: 0 0 4px rgba(83, 91, 242, 0.3);
    }

    &--text {
      resize: vertical;
      min-height: 120px;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .dv-star-rating {
      font-size: 1.5rem;
      color: #ffcc00;
    }
  }

  &__btn {
    @include purple-button;
    max-width: 65%;
    align-self: flex-end;
  }

  &__list {
    border-top: 1px solid #ddd;
    padding: 1rem 1rem;
  }

  &__item {
    border-bottom: 1px solid #ddd;
    font-size: 1rem;
    color: #333;
    transition: transform 0.2s ease-in-out;

    &-wrap {
      display: flex;
      justify-content: space-between;
      margin-top: 0.3rem;
    }

    &-header {
      display: flex;

      color: #333;
    }
    &-name {
      color: #333;
    }
    &-text {
      color: #555;
      padding: 1rem 0;
    }

    &-comment {
      color: #333;
    }
    &:hover {
      transform: scale(1.02);
    }
  }
}
