@use "../../styles/_partials/global.scss" as *;

.classes {
  @include flex-center;
  background-color: white;
  margin-top: 8rem;

  @include tablet {
    margin-top: 6rem;
  }

  @include desktop {
    margin-top: 8rem;
    padding: 20px 10rem;
  }

  @include desktopL {
    margin-top: 6rem;
    padding: 20px 15rem;
  }

  &__content {
    width: 100%;
    text-align: center;
    color: #333;
    padding: 0 1rem;

    @include desktopL {
      padding: 0rem 5rem;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 2rem;
  }

  &__list {
    list-style: none;
    padding: 0 0.5rem;
    margin-bottom: 2rem;
  }

  &__item {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    text-align: center;
    &:hover {
      animation: pop 1s ease-in-out;
    }

    strong {
      color: #535bf2;
    }

    @include tablet {
      padding: 0rem 5rem;
    }

    @include desktop {
      padding: 0rem 3rem;
    }
  }

  &__cta-text {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #555;
  }

  &__btn {
    @include purple-button;
    margin: 2rem;
    &:hover {
      animation: pop 2s ease-in-out;
    }
  }
}
