@font-face {
  font-family: "Nunito";
  src: url("../../assets/Font/NunitoSans-Regular.woff") format("woof"), url("../../assets/Font/Alternative-files/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/Font/NunitoSans-Medium.woff") format("woff"), url("../../assets/Font/Alternative-files/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nunito";
  src: url("../../assets/Font/NunitoSans-Bold.woff") format("woff"), url("../../assets/Font/Alternative-files/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
body {
  font-family: Nunito, Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #ffffff;
  font-size: 0.875rem;
}

.header {
  background-color: #323232;
  gap: 1rem;
}
.header__logo {
  padding: 1rem 0;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__nav {
    width: 20%;
  }
}
.header__nav-link {
  text-decoration: none;
  color: #e1e1e1;
  width: 50%;
  padding-bottom: 0.5rem;
}
.header__nav-link--active {
  color: white;
}
.header__list {
  display: flex;
}
.header__item {
  flex-grow: 1;
  list-style: none;
  padding-bottom: 1rem;
}
.header__item--active {
  border-bottom: 2px solid white;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .header .header__nav-list {
    justify-content: space-between;
  }
}

.hero {
  background-image: url(../assets/Images/IMG-20190429-WA0029.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgb(50, 50, 50);
  background-blend-mode: overlay;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .hero {
    height: 80vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 80vh;
  }
}
.hero__top-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .hero__top-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 3rem;
  }
}
.hero__title {
  font-size: 2.5rem;
  width: 100%;
  margin-left: 1rem;
}
.hero__title-top {
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 3rem;
    line-height: 4.25rem;
    font-weight: 700;
    width: 60%;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 60%;
  }
}
.hero__text {
  font-size: 0.875rem;
}
.hero__media {
  align-self: stretch;
}
@media screen and (min-width: 768px) {
  .hero__media {
    align-self: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .hero__media {
    align-self: end;
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .hero__media {
    align-self: center;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 80vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 3rem;
    text-align: left;
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.main {
  color: #323232;
}

.shows {
  padding: 0 2rem;
}
.shows__title {
  margin: 1.5rem 0rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    font-size: 2rem;
    line-height: 4.25rem;
    font-weight: 700;
    margin-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows__title {
    margin-left: 5rem;
  }
}
.shows__desktab-header {
  display: none;
  flex: auto;
}
@media screen and (min-width: 768px) {
  .shows__desktab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px 0;
    gap: 0;
    margin-right: 35%;
    margin-left: 4.2%;
    max-width: 45%;
  }
}
@media screen and (min-width: 1280px) {
  .shows__desktab-header {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 1rem 5rem;
    gap: 0;
    max-width: 20%;
    margin-left: 10%;
  }
}

.show__article {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0 0 2rem 0;
  border-top: 1px solid #e1e1e1;
}
@media screen and (min-width: 1280px) {
  .show__article {
    margin: 1rem 3.5rem 1rem 15rem;
    gap: 0;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .show__article {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    padding: 10px 0;
    gap: 0;
  }
}
.show__date {
  font-weight: 900;
}
.show__date-label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #afafaf;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .show__date-label {
    display: none;
  }
}
.show__venue-label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #afafaf;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .show__venue-label {
    display: none;
  }
}
.show__local-label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 700;
  color: #afafaf;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .show__local-label {
    display: none;
  }
}
.show__btn {
  background: #323232;
  color: #ffffff;
  height: 2.5rem;
  width: 100%;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show__btn:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .show__btn {
    width: 20%;
    padding: 0 1rem;
    font-weight: 700;
  }
}
@media screen and (min-width: 1280px) {
  .show__btn {
    padding: 0 1rem;
  }
}

.footer {
  background-color: #323232;
  color: #ffffff;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
@media screen and (min-width: 1280px) {
  .footer__head {
    width: 100%;
    margin-left: 0.5rem;
  }
}
.footer__head-title {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__head-title {
    width: 70%;
  }
}
.footer__head-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__head-img {
    width: 70%;
  }
}
.footer__head-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__head-icons {
    width: 70%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__head-icons {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .footer__icon {
    height: 1.5rem;
  }
}
.footer__title {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    font-size: 2rem;
  }
}
.footer__img {
  width: 10rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .footer__img {
    display: none;
  }
}
.footer__img--head {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__img--head {
    display: flex;
    width: 8rem;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__img--head {
    margin-right: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__info-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info-wrap {
    margin-left: 0.5rem;
  }
}
.footer__info {
  margin: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .footer__info {
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .footer__info {
    width: 100%;
  }
}
.footer__subtitle {
  margin-bottom: 0.7rem;
  margin-top: 1.5rem;
}
.footer__text {
  font-size: 0.6rem;
  color: #ffffff;
  padding-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer__text {
    margin-left: 0.5rem;
  }
}
.footer__email {
  color: #ffffff;
  text-decoration: none;
  margin-top: 0.3rem;
  display: inline-block;
}/*# sourceMappingURL=shows.css.map */